h1{
    text-align: center;
    color: rgb(176, 19, 19);
}


.container{
    width: 700px;
    margin: auto;
}

textarea{
    border: solid black 5px;
    font-size: 1.3rem;
    padding: 10px;
}
select,button{
    padding: 8px;
    margin: 10px 5px;
    font-size: 1.4rem;
    border: solid black 2px;
    border-radius: 6px;
}

